<div class="bg-white">
  <div class="pt-6">
    <div
      class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16"
    >
      <!-- Image gallery -->
      <div class="sm:rounded-lg bg-black">
        <img
          src="../../../assets/backpackDetail.jpg"
          alt=""
          class="h-full w-full object-cover object-center"
        />
      </div>

      <!-- Product info -->

      <div class="mt-4 lg:mt-0 col-span-2">
        <!-- Title and Price -->
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">
          The North Face Jester Backpack
        </h1>
        <p class="text-3xl tracking-tight text-gray-900 mt-2">$138.99</p>

        <!-- Description  -->
        <div class="mt-2">
          <h3 class="sr-only">Description</h3>

          <div class="space-y-6">
            <p class="text-base text-gray-900">
              PLEASE NOTE NEXT DAY DELIVERY IS NOT AVAILABLE ON PERSONALISED
              PRODUCTS. Keep all your things safe, secure, and close by with
              this Jester Backpack from The North Face. In a black colourway,
              this backpack is made from durable poly to make sure your
              essentials are protected. With a main zip compartment for easy
              access and ample storage, this backpack has a FlexVent suspension
              system and padded shoulder straps for a comfy and easy carry. With
              numerous compartments inside and to the exterior of the bag, it
              makes sure all your things are organised and easy to find. With a
              clip to the straps and a pull string to the front for a locked-in
              fit, this backpack is finished with whtie The North Face branding
              to the front.
            </p>
          </div>
        </div>

        <!-- Highlights -->
        <div class="mt-10">
          <h3 class="text-sm font-medium text-gray-900">Highlights</h3>

          <div class="mt-4">
            <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
              <li class="text-gray-400">
                <span class="text-gray-600">Black Color</span>
              </li>
              <li class="text-gray-400">
                <span class="text-gray-600">100% Polyester</span>
              </li>

              <li class="text-gray-400">
                <span class="text-gray-600">Other Thing</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Add to Bag Form -->

        <button
          routerLink="/cart"
          class="mt-12 mb-2 w-full rounded-md bg-gray-900 px-6 py-3 font-medium text-white"
        >
          Add to bag
        </button>
      </div>
    </div>
  </div>
</div>
