<div class="bg-white shadow-md rounded-lg">
  <h2 class="text-xl font-semibold bg-gray-100 p-4">Orders</h2>

  <ul class="divide-y divide-gray-200">
    <!-- Repeat this list item for each order -->
    <li *ngFor="let order of orders" class="p-4">
      <div class="flex justify-between items-center mb-2">
        <span class="font-semibold">Order Date:</span>
        <span class="text-gray-600">{{ order.dateCreated }}</span>
      </div>
      <div class="flex justify-between items-center mb-2">
        <span class="font-semibold">Expected Arrival:</span>
        <span class="text-gray-600">{{ order.expectedArrivedDate }}</span>
      </div>
      <div class="flex justify-between items-center mb-2">
        <span class="font-semibold">Status:</span>
        <span class="text-gray-600">{{ order.orderStatus }}</span>
      </div>
      <div class="flex justify-between items-center">
        <span class="font-semibold">Total Amount:</span>
        <span class="text-gray-600">
          {{ order.totalAmount | currency : "MAD" : "symbol" : "1.2-2" }}
        </span>
      </div>
    </li>
  </ul>
</div>
