<div class="bg-white">
  <div class="pt-6">
    <div
      class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16"
      *ngIf="isDataLoaded"
    >
      <!-- Image gallery -->
      <div class="sm:rounded-lg bg-black">
        <img
          [src]="'../../../assets/products/' + product.name + 'D.jpeg'"
          alt=""
          class="h-full w-full object-cover object-center"
        />
      </div>

      <!-- Product info -->

      <div class="mt-4 lg:mt-0 col-span-2">
        <!-- Title and Price -->
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">
          {{ product.name }}
        </h1>
        <p class="text-3xl tracking-tight text-gray-900 mt-2">
          ${{ product.price }}
        </p>

        <!-- Description  -->
        <div class="mt-2">
          <h3 class="sr-only">Description</h3>

          <div class="space-y-6">
            <p class="text-base text-gray-900">
              {{ product.description }}
            </p>
          </div>
        </div>

        <!-- Highlights -->
        <div class="mt-10">
          <h3 class="text-sm font-medium text-gray-900">Highlights</h3>

          <div class="mt-4">
            <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
              <li class="text-gray-400">
                <span class="text-gray-600">Black Color</span>
              </li>
              <li class="text-gray-400">
                <span class="text-gray-600">100% Polyester</span>
              </li>

              <li class="text-gray-400">
                <span class="text-gray-600">Other Thing</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Add to Bag Form -->

        <button
          class="mt-12 mb-2 w-full rounded-md bg-gray-900 px-6 py-3 font-medium text-white"
          (click)="addToCart(product.id)"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
